@{
    ViewData["Title"] = "Help";
}

<h1>How to use?</h1>
<div class="row">
    <label>• Enter your first number (Use comma for decimals)</label>
    <label>• Enter your second number </label>
    <label>• Choose desired operation </label>
</div>