@model Task1_WebCalculator.Models.Calculator
@{
    ViewData["Title"] = "Calculator";
}

<h1>Simple Calculator</h1>
<div class="row">
    @using(Html.BeginForm("Index", "Calculator", FormMethod.Post)){
        <div class="col-sm-3">
            <label for="num1">First number</label>
            <input type="text" class="form-control" id="num1" name="num1" value="@Model.num1" pattern="[0-9,]+" />
        </div>
        <div class="col-sm-3">
            <label for="num2">Second number</label>
            <input type="text" class="form-control" id="num2" name="num2" value="@Model.num2" pattern="[0-9,]+"/>
        </div>
        <p></p>
        <div>
            <button type="submit" class="btn btn-dark" id="add" value="add" name="operation">+</button>
            <button type="submit" class="btn btn-info" id="sub" value="sub" name="operation">-</button>
            <button type="submit" class="btn btn-warning" id="mul" value="mul" name="operation">*</button>
            <button type="submit" class="btn btn-danger" id="div" value="div" name="operation">/</button>
        </div>

        <div class="col-sm-3">
            <label for="num2">Result</label>
            <input type="text" class="form-control" id="result" name="result" value="@Model.result" readonly/>
        </div>
    }
</div>
